<!--<h2>
  Add Entry
</h2>

<div class="form-container">
   
    <h2> Add Entry</h2>
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <input type="date" placeholder="Enter the date.." (ngModel)="date" name="date" class="txt" required>
      <input type="num" placeholder="Num" (ngModel)="num" name="num" class="txt" required>
       <input type="details" placeholder="details" (ngModel)="details" name="txt" class="txt" required>
        <input type="withdrawal" placeholder="withdrawals" (ngModel)="withdrawals" name="txt" class="txt" required>
         <input type="deposit" placeholder="deposit" (ngModel)="deposit" name="txt" class="txt" required>    
      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
      <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>
</div>-->

<div class="form-container">
    <a routerLink="/login" id="goback">Go back</a>
    <h4> Add New Entry</h4>
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
    <form #formData='ngForm'>

              <select  #selectedAccount >
            <option value="0">--Account--</option>
              <option *ngFor="let account of accountList" [value]="account.id">
      {{account.name}}
            </option>
            </select>
    <input type="text" placeholder="Enter the date.." [(ngModel)]="date" name="date" class="txt" required>
      <input type="text" placeholder="Num" [(ngModel)]="num" name="num" class="txt">
       <input type="text" placeholder="Details" [(ngModel)]="details" name="details" class="txt" required>
        <input type="number" placeholder="Withdrawal" [(ngModel)]="withdrawal" name="withdrawal" class="txt" required>
         <input type="number" placeholder="Deposit" [(ngModel)]="deposit" name="deposit" class="txt" required>  
       
         
      <button type="submit" [disabled]="!formData.valid"  (click)="getjournal(selectedAccount.value,date,num,details,withdrawal,deposit)" class="basic-btn">Add Entry</button> 
    <button type="submit"(click)="clear()" [disabled]="!formData.valid"  (click)="clear()"class="basic-btn">Clear  Entry</button>
    
  </form>
</div>