#toolbar {
    padding:0;
    width:90%;
    margin-left:-35%;
}

header {
    background:#3B8598;
    width:100%;
}

.basic-btn {
    width:130px;
    margin:0;
}

#page {
    padding:7em;
    margin:0;
}

#page img {
    margin-top:30px;
}

h3
{
    text-align:center;
  
}
h2 {
    margin:0;
    text-align: center;
}


@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
}