<div class="form-container">
 <a routerLink="/members" id="goback">Go back</a>
<h3>
 Menu
</h3>


  
  <h4><a routerLink="/createaccount" routerLinkActive="active" class="alc"> <strong>Create new Account</strong></a></h4>
  
  <h4><a routerLink="/delete" routerLinkActive="active" class="alc"> <strong>Delete   Account</strong></a></h4>

<h4><a routerLink="/journal" routerLinkActive="active" class="alc"> <strong>Journal </strong></a></h4>

   <h4><a routerLink="/budgetdeposit" routerLinkActive="active" class="alc"> <strong>Budget Deposit</strong></a></h4>

   <h4><a routerLink="/transferdetails" routerLinkActive="active" class="alc"> <strong>Transfer Details</strong></a></h4>

  <!--<h4><a routerLink="/createaccount" routerLinkActive="active" class="alc"> <strong>Accounts Summary</strong></a></h4>-->

   <h4><a routerLink="/userguide" routerLinkActive="active" class="alc"> <strong>User Guide</strong></a></h4>

</div>
