<div class="form-container">
    <a routerLink="/menu" id="goback">Go back</a>
    <h3> Budget Deposit</h3>
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' >

     <input type="text" placeholder="Enter the date.." [(ngModel)]="date" name="date" required>
     
             <select    #selectedAccount>
              <option value="0">--Account--</option>
              <option  *ngFor="let account of accountList"  [value]="account.id" >
                             {{account.name}}
                </option>
              </select>
       <input type="text" placeholder="Details" [(ngModel)]="details" name="details" class="txt" required>
         <input type="number" placeholder="Amount" [(ngModel)]="deposit" name="deposit" class="txt" required>  
      <button type="submit" (click)=depositbudget(date,details,deposit,selectedAccount.value) class="basic-btn">Deposit Amount</button>
     
  </form>
</div>
<!--<select class="form-control" id="lookingFor" formControlName="gender" [(ngModel)]="userProfile.gender">
       <option value="" selected>Please Select</option>
       <option *ngFor="let status of genderValue" [ngValue]="status.id">{{ status.description}}</option>
    </select> -->