h3
{
    align-items: center;
}
.basic-btn {
    background-color: red; /* Green */
    border: none;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none; 
    width: 65px;
    
}

.basic-btnadd {
    background-color:green; /* Green */
    border: none;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none; 
    width: 65px;
   
}
.basic-btndeposit {
    background-color:blue; /* Green */
    border: none;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none; 
    width: 65px;
    
}