
<a routerLink="/login" id="goback">Go back</a>
<h3 align="center">View Your Accounts  Created</h3>

  
  
  <table >
    <tr> 
      <td> Name</td>
      <td> Opening Balance</td>
    </tr>

    <tr  *ngFor="let account of accountList" >
      <td>  {{account.name}} </td>
<td> {{account.opbalance}}</td>
    </tr>
  </table>
  
       



