#toolbar {
    padding:10;
    width:90%;
    margin-left:-55%;
}

header {
    background:#3B8598;
    width:100%;
}

.basic-btn {
    width:130px;
    margin:0;
}
.red{
        color: #f53d3d;
    }
#page {
    padding:7em;
    margin:0;
}

#page img {
    margin-top:30px;
}

h2 {
    margin:0;
}


@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
}