<a routerLink="/login" id="goback">Go back</a>
<h2>
  See Your Check Book 
</h2>


 <select  #selectedAccount (click)="showjournal(selectedAccount.value)" >
              <option value="0">--Account--</option>
              <option  *ngFor="let account of accountList" [value]="account.id">
                             {{account.name}}
                </option>
              </select>

	<table><b>Journal/Deposit</b>
				<tr>
					<td><b>Date</b></td>
					<td><b>Description</b></td>
					<td><b>Num</b></td>
          	<td><b>Withdrawal</b></td>
            	<td><b>Deposit</b></td>
				<td><b>Balance</b></td>

				</tr>
			
				<tr *ngFor="let dates of datesList">
					<td>{{dates.date}}</td>
					<td> {{dates.details}}</td>
					<td>{{dates.num}}</td>
					<td> {{dates.withdrawal}}</td>
					<td > {{dates.deposit}}</td>
					
             <td [ngClass]="{'red':dates.balance < 0}">{{dates.balance}}</td>
				
              <tr>
        	<td   align=center>  <b> Total  Balance</b></td>
	        <td align=center  [ngClass]="{'red':totaljournalbalance < 0}"><b> {{totaljournalbalance}}</b></td>
           </tr>
          
				</table>
		
	