
  <header>
 <strong>Welcome to Your Checkbook.  </strong>
       <button (click)="addentry()" class="basic-btn">Add Entry</button>
        <button (click)="checkbook()" class="basic-btn">Checkbook</button>
        <button (click)="menu()" class="basic-btn">Menu</button>
		 <button (click)="viewaccounts()"  class="basic-btn">View Accounts</button>
		  <button (click)="logout()" class="basic-btn">LogOut</button>
		
  </header>

    
<p>
			Sample Check Book Register comprising of Sample Register sheet is an example Check Book Register to understand the Check Book Register application. The focus of the Sample sheet is to help user understand how Check Book Register should be maintained by a user. The user can also remove the sample values individually by clicking on cross button, and can maintain it as a separate Check Book Register for the family members or business partner simultaneously.
			
			Check Book Register comprising of Check Book Register sheet is for maintaining for maintaining transaction records for your enterprise or personal use.
</p>
			
 Explanation of tables in Sample and Check Book Register sheets
			<table>
				<tr>
					<td><b>Column Name</b></td>
					<td><b>Description</b></td>
				</tr>
				<tr>
					<td>Date</td>
					<td>Date of transaction. The date when the payment is due or the date when the payment is received.</td>
				</tr>
				<tr>
					<td>Num</td>
					<td>Type of transcation</td>
				</tr>	
				<tr>
					<td>Description</td>
					<td>Details of the Description</td>
				</tr>
				<tr>
					<td>R</td>
					<td>R is for Reconsile.When balancing your CheckBook,add an R in this column to indicate that the transaction is correct,and reconciled with your bank statement</td>
				</tr>
				<tr>
					<td>Withdrawal,Payment</td>
					<td>Amount Withdrawn</td>
				</tr>	
				<tr>
					<td>Deposit,Credit</td>
					<td>Amount Deposited</td>
				</tr>
				<tr>
					<td>Balance</td>
					<td>Account Balance</td>
				</tr>
				</table>
		
	